@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    font-family: "Poppins", sans-serif;
    color: #444444;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

.part-2 {
    background: #B67429;
    padding: 10px 10px;
    text-align: center;
    color: white;
    font-family: 'Playfair Display';
    border-radius: 0px 0px 5px 5px;
    margin-top: -20px;
    display: flex;
    justify-content: space-between;

}

.productdescri h4 {
    font-size: 16px;
    font-family: 'Playfair Display';
    color: rgb(255, 255, 255);
}

.productdescri {
    display: flex;
    justify-content: space-between;
    background: #b67429;
    padding: 10px;
    border-radius: 0px 0px 3px 3px;
    transition: .3s;
    position: relative;
	z-index: 1;
	overflow: hidden;
}

.productdescri::before {
	position: absolute;
	content: '';
	background: #342a1d;
	width: 100%;
	height: 100%;
	left: -100%;
	top: 100%;
	transition: .3s;
	z-index: -1;
}
.productdescri:hover:before{
    top: 0;
    left: 0;
    cursor: pointer;
}

.part-2::before {
	position: absolute;
	content: '';
	background: #342a1d;
	width: 100%;
	height: 100%;
	left: -100%;
	top: 100%;
	transition: .3s;
	z-index: -1;
}

.section-products .header {
    margin-bottom: 50px;
}

.section-products .header h3 {
    font-size: 1rem;
    color: #fe302f;
    font-weight: 500;
}

.section-products .header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #444444; 
}

.section-products .single-product {
    margin-bottom: 26px;
}

.section-products .single-product .part-1 {
    position: relative;
    height: 240px;
    max-height: 240px;
    margin-bottom: 20px;
    overflow: hidden;
}

.section-products .single-product .part-1::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		transition: all 0.3s;
}

.section-products .single-product:hover .part-1::before {
		transform: scale(1.2,1.2) rotate(5deg);
}

.section-products #product-1 .part-1::before {
    background: url("/Category_images/marinated.jpg") no-repeat center;
    background-size: cover;
		transition: all 0.3s;
}

.section-products #product-2 .part-1::before {
    background: url("/Category_images/chicken.jpeg") no-repeat center;
    background-size: cover;
}

.section-products #product-3 .part-1::before {
    background: url("/Category_images/seee.jpg") no-repeat center;
    background-size: cover;
}

.section-products #product-4 .part-1::before {
    background: url("/Category_images/seafood.jpg") no-repeat center;
    background-size: cover;
}

.section-products #product-5 .part-1::before {
    background: url("/Category_images/meat.jpg") no-repeat center;
    background-size: cover;
}

.section-products #product-6 .part-1::before {
    background: url("/Category_images/farhad.jpg") no-repeat center;
    background-size: cover;
}

.section-products #product-7 .part-1::before {
    background: url("/Category_images/seafood.jpg") no-repeat center;
    background-size: cover;
}

.section-products #product-8 .part-1::before {
    background: url("/Category_images/seafood.jpg") no-repeat center;
    background-size: cover;
}



.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #ffffff;
    background-color: #42413F;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
    left: 0;
    background-color: #444444;
}

.section-products .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    left: 43px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
    bottom: 30px;
    opacity: 1;
}

.section-products .single-product .part-1 ul li {
    display: inline-block;
    margin-right: 4px;
}

section.section-products {
    padding-top: 37px;
}

.section-products .single-product .part-1 ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    color: #444444;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
}

.section-products .single-product .part-1 ul li a:hover {
    color: #B67429;
}

.section-products .single-product .part-2 .product-title {
    font-size: 1rem;
    font-family: 'Playfair Display';
    margin-bottom: 0px;
}

.section-products .single-product .part-2 h4 {
    display: inline-block;
    font-size: 1rem;
}

.section-products .single-product .part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}

.section-products .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}